<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <title>Suites | Bookings</title>

    <link rel="canonical" th:href="@{http://localhost:8080/}">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/carousel.css}" rel="stylesheet">

    <style th:inline="css">
        body, html {
            background-color: #f7f7f7;
            height: 100%;
            font-family: "Playfair Display";
        }
        footer {
            margin-top: 50px;
            margin-bottom: 0px!important;
            min-height: 100px;
            background-color: #4d4747;
            font-family: "Playfair Display";
            position: absolute;
        }
        .footer-column {
            margin: 8px;
        }
        .footer-column button, .read-btn {
            border-radius: 50px;
        }
        .svg svg {
            cursor: pointer;
        }
        .header {
            padding: 30px;
        }
        .read-more {
            border-radius: 50px;
        }
    </style>
    <script th:src="@{https://code.jquery.com/jquery-3.6.1.js}" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/auth.js}"></script>
    <script th:inline="javascript">
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', `Bearer ${localStorage.getItem('access_token')}`);
            }
        });

        let bookings = {};

        function setBookings(myBookings) {
            bookings = myBookings;

            // looping through each booking and displaying it using jquery
            for (const bookingIndex in bookings) {
                const booking = bookings[bookingIndex];

                // get details for booked room
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: `http://localhost:8080/api/room/${booking.roomId}`,
                    success: function (room) {
                        let container = $('<div class="list-group-item list-group-item-action d-flex flex-row" />');

                        container.append(`<img src=${room.roomImg} class="img-fluid" width="100px" height="50px" alt="Room Image">`);
                        let secondContainer = $('<div class="flex-column align-items-start pl-3 w-100" />');

                        let firstInnerContainer = $('<div class="d-flex w-100 justify-content-between" />');
                        let headingFirstInnerContainer = $(`<h5 class="mb-1">${room.name}</h5>`)
                        let smallTextFirstInnerContainer = $(`<small>${booking.date}</small>`)
                        firstInnerContainer.append(headingFirstInnerContainer, smallTextFirstInnerContainer);
                        secondContainer.append(firstInnerContainer);

                        let paragraphMainContainer = $(`<p class="mb-1">${room.description}</p>`)
                        secondContainer.append(paragraphMainContainer);

                        let secondInnerContainer = $('<div class="d-flex w-100 justify-content-between" />');
                        let buttonSecondInnerContainer = $(`<button class="btn btn-sm btn-danger text-white read-more" onclick=viewDetails(${booking.id})>View Details</button>`);
                        let smallTextSecondInnerContainer = $(`<small>${room.categoryType} ROOM</small>`);
                        secondInnerContainer.append(buttonSecondInnerContainer, smallTextSecondInnerContainer);
                        secondContainer.append(secondInnerContainer);

                        container.append(secondContainer);

                        $('#bookings-container').append(container);
                    }
                })
            }
        }

        function getBookings(setBookings) {
            $.ajax({
                type: "get",
                dataType: "json",
                url: 'http://localhost:8080/api/user/profile',
                success: function (userDetails) {
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        url: `http://localhost:8080/api/booking/userId/${userDetails.id}`,
                        success: function (response) {
                            setBookings(response);
                        }
                    })
                }
            })
        }

        getBookings(setBookings);

        $(document).ajaxError(function(event,xhr,options){
            window.open('/login', '_self');
        });
    </script>
    <script th:inline="javascript">
        function viewDetails(id) {
            console.log(id);
        }
    </script>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top shadow-sm bg-white">
        <a class="navbar-brand" th:href="@{/}">Suites</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rooms">ROOMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bookings">BOOKINGS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">PROFILE</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link bg-transparent border-0" onclick="logout()">SIGN OUT</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

  <main role="main">
    <div class="container-fluid">
        <div class="text-center">
            <h2 class="header">Your Bookings</h2>
        </div>
        <div class="list-group mx-5" id="bookings-container">
<!--            <div class="list-group-item list-group-item-action d-flex flex-row">-->
<!--                <img th:src="@{/images/hotel1.jpg}" class="img-fluid" width="100px" height="50px" alt="Room Image">-->
<!--                <div class="flex-column align-items-start pl-3 w-100">-->
<!--                    <div class="d-flex w-100 justify-content-between">-->
<!--                        <h5 class="mb-1">Room 001</h5>-->
<!--                        <small>2022-02-12</small>-->
<!--                    </div>-->
<!--                    <p class="mb-1">A room for ijwnediwewehnjkfmwefdwehkjfne djkqendiojqedunqekdmqhdnqjkdwqa</p>-->
<!--                    <div class="d-flex w-100 justify-content-between">-->
<!--                        <button class="btn btn-sm btn-danger text-white read-more">View Details</button>-->
<!--                        <small>STANDARD ROOM</small>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

      <!-- FOOTER -->
      <footer class="container-fluid footer">
          <div class="container py-5">
              <div class="row">
                  <div class="col-sm-3 footer-column">
                      <p class="text-white"><strong>About</strong></p>
                      <p style="color: #b0b7bd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem consequatur
                          distinctio enim maiores numquam provident veniam. Consequuntur debitis, delectus eaque
                          error et obcaecati odio quia quibusdam ut voluptatibus. Perspiciatis!
                      </p>
                      <a class="btn btn-danger text-white read-btn" th:href="@{/#about}">Read more</a>
                  </div>
                  <div class="col-sm-3 footer-column">
                      <p class="text-white"><strong>Contact Us</strong></p><br/>
                      <p style="color: #b0b7bd">Contact us at <a href="#" class="text-white-50"> suites@gmail.com </a></p><br/>
                      <button class="btn btn-danger text-white" th:href="@{/contact}">Read more</button>
                  </div>
                  <div class="col-sm-2 footer-column">
                      <p class="text-white"><strong>Quick Links</strong></p><br/>
                      <p>
                          <a th:href="@{/#about}" style="color: #b0b7bd">About</a><br/>
                          <a th:href="@{/contact}" style="color: #b0b7bd">Contact Us</a><br/>
                          <a th:href="@{/rooms}" style="color: #b0b7bd">Book a Room</a>
                      </p>
                  </div>
                  <div class="col-sm-3 footer-column">
                      <p class="text-white"><strong>Social Icons</strong></p>
                      <p class="svg">
                          <!-- facebook -->
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                              <path fill="#b0b7bd" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44
                                21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96
                                16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89
                                14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z"
                              />
                          </svg>
                          <!-- messenger -->
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                              <path fill="#b0b7bd" d="M12,2C6.36,2 2,6.13 2,11.7C2,14.61 3.19,17.14 5.14,18.87C5.3,19
                                5.4,19.22 5.41,19.44L5.46,21.22C5.5,21.79 6.07,22.16 6.59,21.93L8.57,21.06C8.74,21
                                8.93,20.97 9.1,21C10,21.27 11,21.4 12,21.4C17.64,21.4 22,17.27 22,11.7C22,6.13 17.64,2
                                12,2M18,9.46L15.07,14.13C14.6,14.86 13.6,15.05 12.9,14.5L10.56,12.77C10.35,12.61 10.05,
                                12.61 9.84,12.77L6.68,15.17C6.26,15.5 5.71,15 6,14.54L8.93,9.87C9.4,9.14 10.4,8.95 11.1,
                                9.47L13.44,11.23C13.66,11.39 13.95,11.39 14.16,11.23L17.32,8.83C17.74,8.5 18.29,9 18,9.46Z"
                              />
                          </svg>
                          <!-- instagram -->
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                              <path fill="#b0b7bd" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,
                                22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,
                                20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,
                                6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,
                                12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,
                                12A3,3 0 0,0 12,9Z"
                              />
                          </svg>
                          <!-- twitter -->
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                              <path fill="#b0b7bd" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,
                                4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,
                                9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,
                                10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36
                                3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,
                                21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"
                              />
                          </svg>
                      </p>
                  </div>
              </div>
          </div>

          <p class="float-right"><a href="#" class="text-white">Back to top</a></p>
          <p class="text-center text-white">Copyright © 2022 All Rights Reserved | Made By Aaliyah Junaid</p>

      </footer>
  </main>

  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>